include mixins/header.jade
include mixins/achievement.jade
include mixins/user.jade

doctype html
html
  +header( 'Collection  ' + collection.title + " by " + collection.owner.username )

  .main
    .leftcol
      .collection.hasButtonBar(collectionID=collection.id)
        .view
          .buttonBar
            button.followCollection Follow
            if collection.editable
                button.deleteCollection Delete
                button.editCollection Edit
          h1.title= collection.title || 'No Title'
          div.mdDescription!= site.markdown.toHTML(collection.description || 'No description') 
          .hidden.description= collection.description
        .edit
          .buttonBar
            button.cancel.cancelEditCollection(tabindex=5) X
            button.save.saveCollection(tabindex=5) &#x2713;

          input.title(name=title value=collection.title size=30)
          br
          textarea.description(name=description value=collection.description cols=60 rows=10)
  
      hr

      ul#AchievementList
        for a in collection.achievements
          li.hasButtonBar
            a(href='/achievement/'+a.id)
              +achievement(a)
        if collection.editable
          p#AchievementInsert
            a(href='/achievement/add' onClick="newAchievement( '" + collection.id + "' ); return false;") New Achievement
          #AchievementSpinner(style="display:none;")
            p= 'Adding...'
          #AchievementTemplate(style="display:none;")
            li.hasButtonBar
              a(href='/achievement/???')
                +achievement( { editable : 1 } )
  
    .rightcol
      +user( collection.owner )

    .mainjoin

  +footer
