include mixins/header.jade
include mixins/user.jade

doctype html
html
  +header( 'User ' + user.username )

  .main
    .leftcol
      h1= user.username
      p= user.realname
      h2 Collections
      ul#CollectionList
        for c in user.collections
          li
            a(href='/collection/'+c.id) #{c.title || 'No title'} (#{c.haves || 0}/#{c.count})
        if user.editable
          p#CollectionInsert
            a(href='/collection/add' onClick="newCollection(); return false;") New Collection
          #CollectionSpinner(style="display:none;")
            p= 'Adding...'
          #CollectionTemplate(style="display:none;")
            li
              a(href='/collection/???')
                li= New

    .rightcol
      +user( user )
      hr
      .services
        ul
          for s in user.services
            li
              a(href=s.user_url title=s.othername)= s.name


    .mainjoin

  +footer
