include mixins/header.jade

doctype html
html
  +header( 'User ' + user.username )

  p
    a(href='/user/' + user.id)
      img(src='/icon/' + (user.avatar || site.defaultAvatar) title=user.username)

  h1= user.username
  p= user.realname
  h2 Collections
  ul
  for c in user.collections
    a(href='/collection/'+c.id)
      li #{c.title} (#{c.haves || 0}/#{c.count})

  +footer
