mixin achievement(a)
  .achievement(id='Achievement-' + a.id)
    .view
      if a.editable
        button.eToggle Edit
      .have
        img.icon(src='/icon/' + (have_icon || site.defaultHave))
        .text
          .title= a.title
          .description= a.description
      .need
        img.icon(src='/icon/' + (need_icon || site.defaultNeed))
        .text
          .title= a.title
          .description= a.description
    if a.editable
      .edit
        button.eToggle Save
        .have
          img.icon(src='/icon/' + (have_icon || site.defaultHave))
          .text
            .title
              input.title(name=title value=a.title size=30)
            .description
              input.description(name=description value=a.description size=80)
        .need
          img.icon(src='/icon/' + (need_icon || site.defaultNeed))
          .text
            .title
              input.title(name=title value=a.title size=30)
            .description
              input.description(name=description value=a.description size=80)

