mixin achievement(a)
  .achievement(id='Achievement-' + a.id achievementId=a.id have=a.have && a.have.earned)
    form
      .view
        .buttonBar
          button.toggleAchievement Mark/Unmark
          if a.editable
              button.deleteAchievement Delete
              button.editAchievement Edit
        .have
          img.icon(src='/icon/' + (have_icon || site.defaultHave))
        .need
          img.icon(src='/icon/' + (need_icon || site.defaultNeed))
        .text
          .title= a.title
          .description= a.description
      if a.editable
        .edit
          .buttonBar
            button.cancel.cancelEditAchievement(tabindex=6) X
            button.save.saveAchievement(tabindex=5) &#x2713;
          .have
            img.icon(src='/icon/' + (have_icon || site.defaultHave))
          .need
            img.icon(src='/icon/' + (need_icon || site.defaultNeed))
          .text
            .title
              input.title(name=title value=a.title size=30 tabindex=1)
            .description
              input.description(name=description value=a.description size=80 tabindex=2)
